body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;


}

h1, h2, p{
    text-align: center;
}


img{
    max-width: 100%;
    height: auto;
    width: 1000px;
    display: block;
    margin: 0 auto;
    
}
#image{
    max-width: 100%;
    height: auto;
}

#img-div{
    background-color: white;
    height: 100vh;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;

    
}